/* fix css confluence */
.aui-header .aui-header-logo-device { height: 40px; }
.acs-side-bar .acs-side-bar-space-info .avatar { padding: 0; }
.acs-side-bar-space-info {margin: 15px 10px 9px 20px;}
#notifications-anchor {  padding-top: 13px; height: 26px; padding-bottom: 26px; padding-right: 30px;}
.new_aui-header-logo-device { font-size: 12px; }
/* #header .aui-header, #header { background-color: #00aeef; } */

/* //////////////////////////////////////////////////////// */

.divTableCell {
    border: 0px solid #999999;
    padding: 0px 0px;
    display: table-cell;
}

* {
    box-sizing: border-box;
}

.pretextselect {
    user-select: all;
    /*margin: 0;
    padding: 10px 0;*/
    white-space: pre-wrap;
}

.yota_newcombine_d-table {
    display: table;
    font-size: 13px;
    border-collapse: collapse;
}

.yota_newcombine_d-tr {
    display: table-row;

}

.yota_newcombine_d-td {
    display: table-cell;
    text-align: center;
    border: none;
    border: 1px solid #ccc;
    vertical-align: middle;

}

.yota_newcombine_d-td:not(.yota_newcombine_no-p) {
    padding: 0px;
}

.yota_newcombine_d-td-tariff {
    display: table-cell;
    text-align: left;
    border: none;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 8px 4px;

    margin: 0px 0px;

    width: 170px;
    height: 160px;
    font-family: DinDisplay, sans-serif;
    color: #205081;

    -webkit-user-modify: read-write-plaintext-only;
}

.yota_newcombine_d-td-tariff-head {
    display: table-cell;
    text-align: left;
    border: none;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 4px 4px;
    margin: 0px 0px;
    font-family: DinDisplay, sans-serif;
    color: #205081;
    background-color: rgba(0, 164, 255, 0.3);
    -webkit-user-modify: read-write-plaintext-only;
}

.input_radio_minute, .input_radio_gbite, .input_app-vk, .input_app-all, .input_app-ok, .input_app-fb, .input_app-ig, .input_app-tw,
.input_app-sk, .input_app-vi, .input_app-wh, .input_app-yt, .input_app-sm, .input_app-tg {
    position: absolute;
    visibility: hidden;
}

.layout-buttons {
    display: block;
    height: 27px;
    margin: 0px;
    cursor: pointer;
    /*border-radius: 15px;*/
}

.input_radio_minute, .input_radio_gbite {

    width: 100px;
    padding: 4px 4px;
    margin: 0px 0px;
}

.layout-buttons_gb {
    display: block;
    height: 27px;
    margin: 0px;
    padding: 6px 2px;
    border: 0px solid black;
    font-size: 0.8em;
    cursor: pointer;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    /*border-radius: 15px;*/
}

.input_app-vk + label .activated {
    visibility: hidden;
}

.input_app-vk:checked + label .activated {
    visibility: visible;
}

.input_app-ig + label .activated {
    visibility: hidden;
}

.input_app-ig:checked + label .activated {
    visibility: visible;
}

.input_app-fb + label .activated {
    visibility: hidden;
}

.input_app-fb:checked + label .activated {
    visibility: visible;
}

.input_app-ok + label .activated {
    visibility: hidden;
}

.input_app-ok:checked + label .activated {
    visibility: visible;
}

.input_app-tw + label .activated {
    visibility: hidden;
}

.input_app-tw:checked + label .activated {
    visibility: visible;
}

.input_app-vi + label .activated {
    visibility: hidden;
}

.input_app-vi:checked + label .activated {
    visibility: visible;
}

.input_app-wh + label .activated {
    visibility: hidden;
}

.input_app-wh:checked + label .activated {
    visibility: visible;
}

.input_app-sk + label .activated {
    visibility: hidden;
}

.input_app-sk:checked + label .activated {
    visibility: visible;
}

.input_app-tg + label .activated {
    visibility: hidden;
}

.input_app-tg:checked + label .activated {
    visibility: visible;
}

.input_app-yt + label .activated {
    visibility: hidden;
}

.input_app-yt:checked + label .activated {
    visibility: visible;
}

.input_app-sm + label .activated {
    visibility: hidden;
}

.input_app-sm:checked + label .activated {
    visibility: visible;
}

.input_radio_minute + label {
    color: #00729e;
    background: #e8edff;
    width: 180px;
    height: 25px;
}

.input_radio_minute:checked + label {
    opacity: 0.7;
    color: #fff;
    background: #04adef;
    text-shadow: 1px 1px 1px #000;
}

.input_radio_gbite + label {
    color: #00729e;
    background: #e8edff;
    width: 150px;
    height: 25px;
}

.input_radio_gbite:checked + label {
    opacity: 0.7;
    color: #fff;
    background: #04adef;
    text-shadow: 1px 1px 1px #000;
}

input[type="checkbox"]:checked + label {
/ / background: #e83737;
/ / красный color: #fff;
/ / белый / / border-color: #e83737;
/ / красный
}

.yota_newcombine_search_alt {
    margin-top: 20px;
    position: relative;
}

.yota_newcombine_legoyota {
    position: relative;
    top: 0px;
    z-index: 109;
}
.error {
    display: none;
    color: red;
}
.border:not(select) {
    border: 1px solid red;
}

div .panel {
    background-color: LightSteelBlue;border-width: 1px;
    min-height: 450px;
}

/*.yota_newcombine_b-region-search__formwrap > #regions_call  {
    z-index: 999;
}
.yota_newcombine_b-region-search__formwrap > #countries_call, #roaming_call  {
    z-index: 998; !*Поправить*!
}*/

.yota_newcombine_b-region-search__formwrap {
    position: relative;
    border: 1px solid #F3F3F3;
    width: 520px;
    z-index: 999;
    border-top-color: #D8D8D8;
    font-size: 12px;
    padding: 0 0px 0 0px;
    background: #FBFBFB;
    box-shadow: inset 0 1px 4px -1px #d8d8d8;
    -webkit-box-shadow: inset 0 1px 4px -1px #d8d8d8;
    -moz-box-shadow: inset 0 1px 4px -1px #d8d8d8;
    -o-box-shadow: inset 0 1px 4px -1px #d8d8d8;
}

.yota_newcombine_b_summary_tarif_form {
    overflow: hidden;

}

.yota_newcombine_b_summary_tarif_text {

    padding: 8px 4px;

    margin: 0px 0px;
    position: relative;
    top: 0px;
    right: 0px;
    width: 280px;
    height: 120px;
    resize: none;
    font-family: DinDisplay, sans-serif;
    color: #205081;
    font-size: 11px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);

    -webkit-user-modify: read-write-plaintext-only;
    font-weight: bold;
    text-align: center;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

/*Стили для поисковой строки*/
.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px
}

.choices:focus {
    outline: none
}

.choices:last-child {
    margin-bottom: 0
}

.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
    background-color: #eaeaea;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.choices.is-disabled .choices__item {
    cursor: not-allowed
}

.choices[data-type*=select-one] {
    cursor: pointer
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 7.5px
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin: 0
}

.choices[data-type*=select-one] .choices__button {
    background-image: url(../../icons/cross-inverse.svg);
    padding: 0;
    background-size: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: .5
}

.choices[data-type*=select-one] .choices__button:focus, .choices[data-type*=select-one] .choices__button:hover {
    opacity: 1
}

.choices[data-type*=select-one] .choices__button:focus {
    box-shadow: 0 0 0 2px #00bcd4
}

.choices[data-type*=select-one]:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none
}

.choices[data-type*=select-one].is-open:after {
    border-color: transparent transparent #333 transparent;
    margin-top: -7.5px
}

.choices[data-type*=select-one][dir=rtl]:after {
    left: 11.5px;
    right: auto
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0
}

.choices[data-type*=select-multiple] .choices__inner, .choices[data-type*=text] .choices__inner {
    cursor: text
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 8px;
    padding-left: 16px;
    border-left: 1px solid #008fa1;
    background-image: url(../../icons/cross.svg);
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: .75
}

.choices[data-type*=select-multiple] .choices__button:focus, .choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=text] .choices__button:focus, .choices[data-type*=text] .choices__button:hover {
    opacity: 1
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding: 7.5px 7.5px 3.75px;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden
}

.is-focused .choices__inner, .is-open .choices__inner {
    border-color: #b7b7b7
}

.is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px
}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none
}

.choices__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%
}

[dir=rtl] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px
}

.choices__list--single .choices__item {
    width: 100%
}

.choices__list--multiple {
    display: inline
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #00bcd4;
    border: 1px solid #00a5bb;
    color: #fff;
    word-break: break-all
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px
}

[dir=rtl] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaa;
    border: 1px solid #919191
}

.choices__list--dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all
}

.choices__list--dropdown.is-active {
    display: block
}

.is-open .choices__list--dropdown {
    border-color: #b7b7b7
}

.is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: .25rem .25rem 0 0
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px
}

[dir=rtl] .choices__list--dropdown .choices__item {
    text-align: right
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 100px
    }

    .choices__list--dropdown .choices__item--selectable:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable:after {
        right: auto;
        left: 10px
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: .5
}

.choices__item {
    cursor: default
}

.choices__item--selectable {
    cursor: pointer
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .5
}

.choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer
}

.choices__button:focus {
    outline: none
}

.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px
}

.choices__input:focus {
    outline: 0
}

[dir=rtl] .choices__input {
    padding-right: 2px;
    padding-left: 0
}

.choices__placeholder {
    opacity: .5
}

.b2c-voice-collect__app_tg circle {
    fill: #888888;

}

.b2c-voice-collect__app-price_tg svg {
    margin: auto;
    background: #888888;
    position: relative;
    top: -40px;
    left: 2px;
    padding: 1px 4px;
    border-radius: 5px;
    width: 30px;
    margin-left: -4px;

}

.b2c-voice-collect__app-price {
    margin: auto;
    background: #4a76a8;
    font-family: Yota Sans, sans-serif;
    color: #ffffff;
    font-size: 11px;
    position: relative;
    top: -38px; /*top: -36px;*/
    left: 5.5px;
    padding: 1px 0px;
    border-radius: 5px;
    width: 32px;
    margin-left: -4px;
    transform: translatey(-50%) rotate(-0deg);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

.yota_newcombine_legoyota {
    display: none;
}











* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.range-slider .input-range {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: #353535; //00bfff
outline: none;
}
.range-slider .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider .input-range::-webkit-slider-thumb:hover {
    background: #fff;
}
.range-slider .input-range:active::-webkit-slider-thumb {
    background: #fff;
}
.range-slider .input-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb:hover {
    background: #fff;
}
.range-slider .input-range:active::-moz-range-thumb {
    background: #fff;
}
.range-slider .range-value {
    display: inline-block;
    position: relative;
    width: 100px;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #3f3f3f;
    padding: 5px 10px;
    margin-left: 7px;
}
.range-slider .range-value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #3f3f3f;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #353535; /*282828*/
    border: 0;
}

input::-moz-focus-inner {
    border: 0;
}

#modal_form {
    width: 300px;
    height: 250px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 9998; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:9996; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}



